In [1]:
import pandas as pd
from datetime import datetime as dt
from functools import reduce
from sqlalchemy import create_engine
import psycopg2 
from config import password, database, username

In [2]:
car_df = pd.read_csv("../Resources/All Scraping Data/all_scraping_data7.csv")

car_df.drop_duplicates(subset=None, keep='first', inplace=False, ignore_index=False)

,vin,msrp,dealer's price,price,make,model,year,transmission,mileage,dealer name,dealer address,lat,lng
0,1C4JJXR61NW152861,67935,67935,68218,Jeep,Wrangler,2022,8 Speed Automatic,15 miles,Premier CDJR of Lamesa,"1611 Lubbock Hwy Lamesa, TX 79331",32.747877,-101.950811
1,1C4JJXR64NW108322,69920,69920,69920,Jeep,Wrangler,2022,8 Speed Automatic,0 miles,Shottenkirk Prosper Chrysler Dodge Jeep Ram,"2550 W University Dr Prosper, TX 75078",33.220389,-96.841397
2,1C4JJXR6XNW108101,68700,68700,68700,Jeep,Wrangler,2022,8 Speed Automatic,3 miles,Pegasus CDJR,"305 South Interstate Highway 45 Ennis, TX 75119",32.331286,-96.615465
3,1C4JJXR62NW270773,70475,70475,70475,Jeep,Wrangler,2022,8 Speed Automatic,0 miles,Classic Chrysler Dodge Jeep Ram Fiat,"1111 E Interstate 20 Arlington, TX 76018",32.679079,-97.114775
4,1C4JJXR61NW274197,70870,70870,70870,Jeep,Wrangler,2022,8 Speed Automatic,0 miles,Classic Chrysler Dodge Jeep Ram Fiat,"1111 E Interstate 20 Arlington, TX 76018",32.679079,-97.114775
...,...,...,...,...,...,...,...,...,...,...,...,...,...
384,5TFPC5DB5NX004915,68600,68600,68600,Toyota,Tundra,2022,Automatic,5 miles,Gullo Toyota of Conroe,"500 I-45 South, Conroe, TX 77304",30.300935,-95.468648
385,5TFMA5DB6NX034823,67253,68748,68748,Toyota,Tundra,2022,Automatic,10 miles,Sterling McCall Toyota Fort Bend,"20465 Southwest Freeway, Richmond, TX 77469",29.558633,-95.694698
386,5TFVC5DB5NX002511,78001,78001,78001,Toyota,Tundra,2022,Automatic,6 miles,Gullo Toyota of Conroe,"500 I-45 South, Conroe, TX 77304",30.300935,-95.468648
387,5TFVC5DB8NX002583,78426,78426,78426,Toyota,Tundra,2022,Automatic,0 miles,Mike Calvert Toyota,"2333 South Loop West, Houston, TX 77054",29.676139,-95.414021
388,5TFLA5DB1NX019691,78990,78990,78990,Toyota,Tundra,2022,Automatic,248 miles,Mike Calvert Toyota,"2333 South Loop West, Houston, TX 77054",29.676139,-95.414021

In [3]:
engine = create_engine(f"postgresql://{username}:{password}@localhost:5432/{database}")
conn = engine.connect()

In [6]:
engine.table_names()

/var/folders/qt/z1139kj16rq91qs03f19sz2c0000gn/T/ipykernel_98746/4162273999.py:1: SADeprecationWarning: The Engine.table_names() method is deprecated and will be removed in a future release.  Please refer to Inspector.get_table_names(). (deprecated since: 1.4)
  engine.table_names()

['car_scrape']

In [7]:
car_df.to_sql(name='car_scrape', con=engine, if_exists='replace', index=False)